.form-layout {
    display: flex;
    flex-direction:column;
    width:700px;
    margin: 0 auto;
    margin-top: 50px;
}

label{
    font-size: 18px;
    margin-top: 20px;
    text-align: start;
    margin-bottom: 10px;
}

input{
    height: 30px;
    font-size: 18px;
    width: 700px;
    margin-bottom: 10px;
}

input[type=submit]{
    height: 50px;
    width: 708px;
    background:#A988F2;
    border:none;
    color:white;
    cursor:pointer;
    margin-top: 40px;
    font-weight: bold;
}

input[type=submit]:hover{
    background:#8350F2;
    border:none;
    color:white;
    cursor:pointer;
}

buttons{
    cursor:pointer;
    color: #A988F2;
    font-weight: bold;
}

buttons:hover{
    color:#8350F2;
}
