.postitem {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5rem;
    border: 0.3px solid  #8350f227;
    border-radius: 2px;
    box-shadow: 0 2px 2px -0.5px #8350f227;
}

.user {
    color:#2A1142;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    font-weight: bold;
}

.caption {
    color:#2A1142;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
}

.profile-image {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
}

.username {
    color:#2A1142;
    font-size: 16px;
    font-weight: bold;
}

.post-image {
    width: 600px;
    height: 100%;
    object-fit: cover;
    align-self: center;
}

.post-caption {
    color:#2A1142;
    font-size: 14px;
    margin-left: 6px;
}
