.mypost {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;
    border: 0.1px solid rgba(0, 0, 0, 0.103);

}

.image {
    width: 600px;

    object-fit: cover;
    align-self: center;
}
